.content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1000px;
}

/* @media (max-width: 1000px) {
  .item{
    width: 100%;
  }
  .content {
    width:100%;
  }
} */

.item:hover {
  transition: 0.6s all;
  cursor: pointer;
  box-shadow: 0px 2px 6px 0px rgba(247, 195, 25, 0.5);
}
.item {
  box-shadow: 0px 2px 6px 0px rgba(90, 69, 1, 0.5);
  border-radius: 5px;
  padding: 5px;
  width: 300px;
  height: 400px;
  margin-bottom: 25px;
}

.item img{
  width: 300px;
  height: 300px;
}
.itemTitle {
  color: darkred;
  font-size: 17px;
}
.itemCost {
  color: rgb(255, 86, 86);
  font-size: 14px;
  font-weight: bold;
}
.content a{
    text-decoration: none;
}
.itemContainer{
  box-shadow: 0px 2px 6px 0px rgba(90, 69, 1, 0.5);
  width: 90%;
  padding: 20px 25px;
}
.itemContainer .itemPageImage{
  width: 200px;
  display: flex;
}

.categoryWrapper{
  padding: 25px;
}