body {
  font-family: "Roboto", serif;
  font-size: 14px;
  background: whitesmoke;
}

.filtersWrapper {
  padding: 15px;
  margin: 0;
}

.bodyWrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.insideBodyWrapper{
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px rgba(90, 69, 1, 0.5);
  background: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

.itemCount{
  padding: 14px;
  border: 0.5px solid white;
}
.itemsHeaderWrapper {
  padding: 15px;
  columns: #999999;
  border: 6px solid white;
}

.hero {
  background: url(/images/bgImage.jpg);
  background-size: cover;
  height:200px;
  background-position: 0 52%;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px rgba(90, 69, 1, 0.5);
}
