.spacer {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.box {
  border-radius: 5px;
  padding: 15px;
  background: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.trashButton:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.2s;
}

.field {
  padding: 5px 15px;
  border: 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.paymentRow {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 5px;
  border: 1px solid rgba(177, 177, 177, 0.2);
}

.editForm {
  display: flex;
  margin: 5px;
}
