.spacer {
  width: 90%;
  margin: 0 auto;
  border: 1px;
  background-color: white;
}

.box {
  border-radius: 5px;
  padding: 15px;
  background: white;
  border: 1px solid #3333332b;
}

.cart__summary {
  width: 350px;
  float: right;
  margin-top: 10px;
}

.cart__summary table {
  width: 100%;
}

.cart__summary table td {
  padding: 5px 0px;
}
.cart__summary table tr td:last-child {
  text-align: right;
}

.cart .cell {
  flex-basis: 150px;
  padding-left: 15px;
}

.cell--right {
  text-align: right;
}

.cart .row:first-child {
  border-bottom: 1px solid rgba(51, 51, 51, 0.37);
  padding: 10px 0;
}
.cart .row {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
.cart .cell:first-child {
  padding-left: 0;
}

.cell--grow {
  flex-grow: 1;
}

.cell--small {
  flex-basis: 50px !important;
}

.cell--center {
  display: flex;
  justify-content: center;
}

.cart .row:last-child {
  border-bottom: 0;
}
