.header {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 100;
  background: white;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  position: sticky;
  top: 0;
}
.headerLogo {
  width: 50px;
}
.headerButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 80px;
}
.headerButton:hover {
  color: rgb(245, 201, 6);
}

.headerButtons img {
  height: 35px;
}

.headerButton {
  display: flex;
  align-items: center;
  height: 100%;
  color: rgba(0, 0, 0);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.headerButton-text {
  padding-left: 5px;
  font-size: 14px;
}

.badge {
  background: rgb(245, 201, 6);
  position: absolute;
  padding: 1px 5px;
  margin-top: 15;
  margin-left: 12px;
  color: white;
  border-radius: 100%;
}
