.header {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  /* background: rgb(245, 201, 6); */
  background: #ffffff;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  position: sticky;
  top: 0;
}
.headerLogo {
  width: 50px;
}
.headerButtons {
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin-right: 6%;
}

.headerButton:hover {
  color: rgb(245, 201, 6);
}

.headerButtons img {
  height: 35px;
}

.headerButton {
  display: flex;
  align-items: center;
  height: 100%;
  color: rgb(0, 0, 0);
  transition: all 0.4s;
  cursor: pointer;
}


.headerButton-text {
  margin-left: 10px;
  font-size: 14px;
}

.badge {
  position: "absolute";
  padding: 2px 4px;
  background: rgb(245, 201, 6);
  margin-left: 4px;
  color: white;
  border-radius: 100%;
}

